<header class="header-global">

</header>

<main>
    <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="bannerodak d-none d-lg-block">
                        <img src="../../../../assets/img/index/blanco.svg" width="650" class=d-block my-1>
                    </div>
                    <h1 class="fw-bolder">Usted está en Odak</h1>
                    <h5 class="fw-normal text-muted mb-5">Emprender con estilo #odak</h5>

                    <a routerLink="auth/registro"
                        class="btn btn-outline-white d-inline-flex align-items-center me-md-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg> &nbsp; Registrar
                    </a>

                    <a routerLink="auth/login" class="btn btn-outline-white d-inline-flex align-items-center me-md-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                            <path fill-rule="evenodd"
                                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg> &nbsp; Ingresar
                    </a>

                    <div class="ml-md-5 pt-4"><a href="#" target="_blank" class="d-flex justify-content-center"><img
                                src="../../../../assets/img/index/TouchBlanco.svg" width="135" class=d-block my-1></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section pt-6">
        <div class="container mt-n10 mt-lg-n12 z6">
            <div class="row justify-content-center">
                <div class="col-12">
                    <img src="../../../../assets/img/index/emprendedores.svg" alt="Emprende con Odak">
                </div>
            </div>
        </div>
    </div>

    <section class="section section-lg bg-soft pt-0">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-6 col-md-3 text-center mb-4">

                    <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                        <svg class="icon icon-md text-secondary" fill="currentColor" viewBox="0 0 16 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path
                                d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="fw-bolder">Nuevos Partners</h3>
                    <p class="text-gray">Confiando en nosotros a diario</p>
                </div>


                <div class="col-6 col-md-3 text-center mb-4">
                    <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                        <svg class="icon icon-md text-secondary" fill="currentColor" viewBox="0 0 16 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
                        </svg>
                    </div>
                    <h3 class="fw-bolder">Herramientas</h3>
                    <p class="text-gray">Disponibles para tu equipo</p>
                </div>

                <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                        <svg class="icon icon-md text-secondary" fill="currentColor" viewBox="0 0 16 16"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="fw-bolder">Sistema de Ticket</h3>
                    <p class="text-gray">Seguimiento de Tareas</p>
                </div>


                <div class="col-6 col-md-3 text-center">
                    <div class="icon icon-shape bg-white shadow-lg rounded mb-4">
                        <svg class="icon icon-md text-secondary" aria-hidden="true" focusable="false" data-prefix="fab"
                            data-icon="js-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                            <path fill="currentColor"
                                d="M2.76 3.061a.5.5 0 0 1 .679.2l1.283 2.352A8.94 8.94 0 0 1 8 5a8.94 8.94 0 0 1 3.278.613l1.283-2.352a.5.5 0 1 1 .878.478l-1.252 2.295C14.475 7.266 16 9.477 16 12H0c0-2.523 1.525-4.734 3.813-5.966L2.56 3.74a.5.5 0 0 1 .2-.678ZM5 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm6 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z">
                            </path>
                        </svg>
                    </div>
                    <h3 class="fw-bolder">App Android</h3>
                    <p class="text-gray">Pronto más novedades ... </p>
                </div>
            </div>


            <div class="row justify-content-between align-items-center mb-3 mb-ls-7">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-5 order-lg-2 mb-5 mb-lg-0">
                        <h2 class="h1">Asociatividad y Difusión</h2>
                        <p class="mb-4 lead fw-bold">Es momento de comenzar a crear nuevas alianzas, de la gestión nos
                            encargamos nosotros!</p>
                        <p class="mb-4">Crea alianzas, un perfil empresa para compartir y la mejor gestión!</p>

                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <img src="../../../../assets/img/login/odak1.png" alt="Asociatividad">
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="section section-lg bg-gray-800 text-white">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 text-center">
                    <h2 class="h1 px-lg-5">Son Partners de Odak</h2>
                    <p class="lead px-lg-8">Nuestros últimos clientes</p>
                </div>
            </div>
            <div class="row prueba" *ngIf="empresa">
                <div class="col-12 col-sm-6 col-lg-3" *ngFor="let item of empresa; let idEmpresa=index">
                    <div class="card bg-white shadow-soft text-primary rounded mb-4">
                        <a [href]="'/'+empresa[idEmpresa].id" target="_blank">
                            <div class="px-3 px-lg-4 py-5 text-center">
                                <img [src]="empresa[idEmpresa].imagen_logo" class="logo-landing">
                                <br/>
                                <br/>
                                <h5 class="fw-bold text-primary">{{empresa[idEmpresa].nombre_fantasia}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section section-lg line-bottom-soft">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-ls-6">
                <div class="col-12 text-center">
                    <h2 class="h1 px-lg-5">¿Aún usando papeles y correos electrónicos?</h2>
                    <p class="lead px-lg-8">Mejora tu gestión en un 65%, todo al alcance de tu mano en solo unos clics.
                    </p>
                </div>
            </div>

        </div>
    </section>

</main>
<footer class="footer py-2 bg-gray-800 text-white">
    <div class="col mb-md-0">
        <a href="#" target="_blank" class="d-flex justify-content-center">
            <img src="../../../../assets/img/index/TouchBlanco.svg" height="35" class="mb-1 py-1" alt="Touch Logo">
        </a>
        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
            <p class="fw-normal font-small mb-0">Copyright © Touch-<span class="current-year">2021</span>. Todos los
                derechos reservados.</p>
        </div>
    </div>

</footer>