<div class="row g-0">

  <div class="col-lg-7 d-none d-lg-block">
    <app-carrousel-login></app-carrousel-login>
  </div>

  <div class="col-lg-5  d-flex align-items-center">
    <div class="bg-white shadow border-0 rounded border-light p-6 w-100 m-7">
      <div class="text-center text-md-center mb-2 mt-md-0">
        <a routerLink="">

          <img src="../../../../assets/img/odak.png" width="19%" />
        </a>
        <h1 class="mb-0 h3">Ingresar a Odak</h1>
      </div>

      <!-- Form -->
      <form class="mt-2" [formGroup]="formularioLogin" autocomplete="off">

        <div class="form-group mb-3">
          <label for="email">Email</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
              <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
              </svg>
            </span>
            <input type="email" class="form-control" placeholder="email@odak.dev" formControlName="correo" autofocus
              required>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group mb-4">
            <label for="password">Contraseña</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon2">
                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </span>
              <input type="password" placeholder="Contraseña" class="form-control" formControlName="contrasena"
                required>
            </div>
          </div>

          <!-- End of Form -->
          <div class="d-flex justify-content-between align-items-top mb-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="remember">
              <label class="form-check-label mb-0" for="remember">
                Recordarme
              </label>
            </div>
            <div><a href="./recordar_pass.html" class="small text-right">¿Olvidaste tu contraseña?</a></div>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-gray-800" (click)="login()">Iniciar Sesión</button>
        </div>
        <div class="justify-content-center align-items-center">
          <span>
            ¿No posee una cuenta en Odak?
            <a routerLink="../registro" class="fw-bold">Cree una cuenta ahora!</a>
          </span>
        </div>
      </form>

    </div>
  </div>