<!-- Carrousel Novedades-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item hm-img-1 min-vh-100 active">
                <div class="carousel-caption d-none d-md-block hm-bgcolor">
                    <h5 class="fw-bold">Odak crece día a día gracias a tí</h5>
                    <a href="#" class="text-muted text-decoration-none">Tenemos novedades</a>
                </div>
            </div>

            <div class="carousel-item hm-img-2 min-vh-100">
                <div class="carousel-caption d-none d-md-block hm-bgcolor">
                    <h5 class="fw-bold">Ahora tenemos para tí una herramienta de gestión</h5>
                    <a href="#" class="text-muted text-decoration-none">Visita el perfil de tu empresa</a>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="anterior">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden strong">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="siguiente">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
