<app-dashboard></app-dashboard>

<main class="content">
    <app-header></app-header>
    <router-outlet></router-outlet>
</main>

<footer class="footer py-2 bg-gray-800 text-white">
    <div class="col mb-md-0">
        <a href="#" target="_blank" class="d-flex justify-content-center">
            <img src="./assets/img/index/TouchBlanco.svg" height="35" class="mb-1 py-1" alt="Touch Logo">
        </a>
        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
            <p class="fw-normal font-small mb-0">Copyright © Touch-<span class="current-year">2021</span>. Todos los
                derechos reservados.</p>
        </div>
    </div>
</footer>