<div class="container">
    <h3>{{datoEmpresa.nombre_fantasia}}</h3>

    <div> <span> <b>Rut:</b> {{datoEmpresa.rut}} </span> </div>
    <div> <span> <b>Categoría:</b> {{datoEmpresa.categoria}} </span> </div>
    <div> <span> <b>Comuna:</b> {{datoEmpresa.comuna}} </span> </div>
    <div> <span> <b>Dirección:</b> {{datoEmpresa.direccion}} </span> </div>
    <div> <span> <b>Teléfono:</b> {{datoEmpresa.telefono}} </span> </div>
    <div> <span> <b>Correo:</b> {{datoEmpresa.correo}} </span> </div>
    <div> <span> <b>Descripcion:</b> {{datoEmpresa.descripcion}} </span> </div>
    <div> <span> <b>Twitter:</b> {{datoEmpresa.twitter}} </span> </div>
    <div> <span> <b>Facebook:</b> {{datoEmpresa.facebook}} </span> </div>
    <div> <span> <b>Whatsapp:</b> {{datoEmpresa.whatsapp}} </span> </div>
    <div> <span> <b>Instagram:</b> {{datoEmpresa.instagram}} </span> </div>
    <div> <span> <b>Linkedin:</b> {{datoEmpresa.linkedin}} </span> </div>
    <div> <img [src]="datoEmpresa.imagen_logo" alt="" width="200px"> </div>
    <div> <img [src]="datoEmpresa.imagen_fondo" alt="" width="400px"> </div>

</div>